<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to tsh {{ title }}!
  </h1>
</div>

<div class="content">
  <div class="col-md-12">
      <a routerLink="/dashboard" routerLinkActive="active" class="btn"> Dashboard </a>
      <a routerLink="/herolist" routerLinkActive="active" class="btn"> Heros List </a>
      <a routerLink="/herodetail/" routerLinkActive="active" class="btn"> Heros details </a>
      <a routerLink="/tempadd" routerLinkActive="active" class="btn"> Temp Add </a>
      <a routerLink="/reactiveForm" routerLinkActive="active" class="btn"> reactiveForm</a>
  </div>
</div>

<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
    </h2>
  </li>
</ul> -->
<br/>

<router-outlet></router-outlet>
