<br/>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="ibox">
        <div class="ibox-title">
          <h4> City Details </h4>
        </div>
        <div class="ibox-content">
          <form action="" id="update_form_id">
              <div class="row">
                <label class="col-md-4"> City Id </label>
                <label class="col-md-6"> {{ individual_city.city_id }} </label>
              </div>
              <div class="row">
                <label class="col-md-4"> City Name </label>
                <div class="col-md-6"> 
                  <input type="text" name="city_name" value="{{ individual_city.city_name }}">
                </div>
              </div>
              <div class="row">
                <label class="col-md-4"> State Id </label>
                <label class="col-md-6"> {{ individual_city.state_id }} </label>
              </div>
              <div class="">
                <input type="button" class = "btn btn-primary" value="Save" (click) = "savecity()">
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
